<h1>Faturamento</h1>

<table style="min-width: 500px;">
  <thead style="text-align: left;">
    <tr>
      <th><%= Time.now.strftime("%B") %></th>
      <th style="color: darkgrey;"><%= Time.now.last_month.strftime("%B") %></th>
      <th>Variação %</th>
    </tr>
  </thead>
  <tbody>
    <!-- Mês corrente -->
    <tr>
      <td style="width: 33%;">
        <h3>
          <small>Hoje</small>
          <br>R$ <%= from_cents @dia_hoje[:amount] %>
          <br><small>(<%= @dia_hoje[:count] %> pagamentos)</small>
        </h3>
      </td>
      <td style="width: 33%; color: darkgrey;">
        <h3>
          <small><%= Time.now.last_month.strftime("%d/%b") %></small>
          <br>R$ <%= from_cents @dia_mes_passado[:amount] %>
          <br><small>(<%= @dia_mes_passado[:count] %> pagamentos)</small>
        </h3>
      </td>
      <td>
        <%
          variacao = (@dia_hoje[:amount] - @dia_mes_passado[:amount])*100 / @dia_mes_passado[:amount].to_f
          color = variacao >= 0 ? "green" : "red"
          sinal = variacao >= 0 ? "&#8593;" : "&#8595;"
        %>
        <h3 style="color: <%= color %>;">
          <%= sinal.html_safe %> <%= variacao.round(0) %>%
          <br><small>(R$ <%= from_cents (@dia_hoje[:amount] - @dia_mes_passado[:amount]) %>)</small>
        </h3>
      </td>
    </tr>
    <!-- Mês passado -->
    <tr>
      <td style="width: 33%;">
        <h3>
          <small>Acumulado</small>
          <br>R$ <%= from_cents @acumulado_mes_corrente[:amount] %>
          <br><small>(<%= @acumulado_mes_corrente[:count] %> pagamentos)</small>
        </h3>
      </td>
      <td style="width: 33%; color: darkgrey;">
        <h3>
          <small>Acumulado</small>
          <br>R$ <%= from_cents @acumulado_mes_passado[:amount] %>
          <br><small>(<%= @acumulado_mes_passado[:count] %> pagamentos)</small>
        </h3>
      </td>
      <td>
        <%
          variacao = (@acumulado_mes_corrente[:amount] - @acumulado_mes_passado[:amount])*100 / @acumulado_mes_passado[:amount].to_f
          color = variacao >= 0 ? "green" : "red"
          sinal = variacao >= 0 ? "&#8593;" : "&#8595;"
        %>
        <h3 style="color: <%= color %>;">
          <%= sinal.html_safe %> <%= variacao.round(0) %>%
          <br><small>(R$ <%= from_cents (@acumulado_mes_corrente[:amount] - @acumulado_mes_passado[:amount]) %>)</small>
        </h3>
      </td>
    </tr>
  </tbody>
</table>