<%
  @header_title = "Backoffice"
  @bottom_menu_active = "resumo"
  @header_hide_voltar = true
%>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">

  <div class="header-large-title mt-3">
    <div class="text-muted"><%= date_to_str(Time.now) %></div>
    <h1 class="title">Treinar.me</h1>
    <!-- <h4 class="subtitle">Resolveu trabalhar é? Então bora!</h4> -->
  </div>

  <div class="section mt-3">
    <div class="row">
      <div class="col-6">
        <a href="<%= financeiro_path %>">
          <div class="card product-card">
            <div class="card-body">
              <p class="text-secondary font-14 mb-0">Saldo disponível</p>
              <h2 class="title mt-2">
                <span class="text-muted">R$</span>
                <%= from_cents @saldo.current.first.amount %>
              </h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6">
        <a href="<%= financeiro_path %>">
          <div class="card product-card">
            <div class="card-body">
              <p class="text-secondary font-14 mb-0">Saldo futuro</p>
              <h2 class="title mt-2">
                <span class="text-muted">R$</span>
                <%= from_cents @saldo.future.first.amount %>
              </h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Ultimos contatos -->
  <div class="section full mt-4">
    <div class="section-title">Operação hoje</div>
  </div>
  <div class="section">
    <div class="card">
      <ul class="listview flush transparent image-listview text">
        <li>
          <a href="<%= leads_path %>" class="item">
            <div class="in">
              Contatos
              <span class="text-primary"><%= @leads_unicos_count %> / <%= @leads_count %></span>
            </div>
          </a>
        </li>
        <li>
          <a href="<%= leads_fechados_path %>" class="item">
            <div class="in">
              Alunos fechados
              <span class="text-primary"><%= @leads_fechados %></span>
            </div>
          </a>
        </li>
        <li>
          <a href="<%= assinaturas_path %>" class="item">
            <div class="in">
              Assinaturas novas
              <span class="text-primary"><%= @assinaturas %></span>
            </div>
          </a>
        </li>
        <li>
          <li>
          <a href="<%= avaliacoes_path %>" class="item">
            <div class="in">
              Avaliações escritas
              <span class="text-primary"><%= @avaliacoes_count %></span>
            </div>
          </a>
        </li>
        <li>
          <a href="<%= cancelamentos_path %>" class="item">
            <div class="in">
              Cancelamentos
              <span class="text-primary"><%= @cancelamentos_count %></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="section mt-4">
    <div class="section-title">Faturamento do mês</div>
    <div class="card">
      <div class="card-body">
        <%= area_chart faturamento_por_dia_path, width: "100%", height: "300px", curve: false %>
      </div>
    </div>
  </div>


</div>
<!-- * App Capsule -->