<%
  @header_title = "Operação"
  @bottom_menu_active = "operacao"
%>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mt-2 mb-2">
  <ul class="listview link-listview">
    <li>
      <a href="<%= leads_path %>">Leads</a>
    </li>
    <li>
      <a href="<%= leads_fechados_path %>">Alunos fechados</a>
    </li>
    <li>
      <a href="<%= avaliacoes_path %>">Avaliações</a>
    </li>
    <li>
      <a href="<%= personals_path %>">Personal trainers</a>
    </li>
    <li>
      <a href="<%= cancelamentos_path %>">Cancelamentos</a>
    </li>
    <li>
      <a href="<%= assinaturas_path %>">Assinaturas</a>
    </li>
  </ul>

  <div class="section mt-3">
    <a href="<%= manual_lead_priority_path %>" data-method="patch" rel="nofollow" class="btn btn-block btn-primary">Manual Lead Priority!</a>
  </div>

</div>
<!-- * App Capsule -->