<% @header_title = "Relatórios" %>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">
  <div class="listview-title mt-2">Relatórios</div>
  <ul class="listview link-listview">
    <li>
      <a href="<%= bairros_path %>">Bairros</a>
    </li>
    <li>
      <a href="<%= leads_path %>">Leads</a>
    </li>
    <li>
      <a href="#">Personals</a>
    </li>
    <li class="divider-title">Negócio</li>
    <li>
      <a href="#">Churn</a>
    </li>
    <li>
      <a href="#">LTV</a>
    </li>
  </ul>

</div>
<!-- * App Capsule -->


<!-- App Bottom Menu -->
<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item">
    <div class="col">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <strong>Resumo</strong>
    </div>
  </a>
  <a href="<%= faturamento_path %>" class="item">
    <div class="col">
      <ion-icon name="calendar-outline"></ion-icon>
      <strong>Hoje</strong>
    </div>
  </a>
  <a href="<%= operacao_path %>" class="item">
    <div class="col">
      <ion-icon name="hammer-outline"></ion-icon>
      <strong>Operação</strong>
    </div>
  </a>
  <a href="<%= relatorios_path %>" class="item active">
    <div class="col">
      <ion-icon name="bulb-outline"></ion-icon>
      <strong>Relatórios</strong>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->
