
<!-- Extra Header -->
<div class="extraHeader not-fixed">
  <form class="search-form" action="<%= pedidos_path %>" method="get">
    <div class="form-group searchbox">
        <input type="text" id="q" name="q" class="form-control search rounded" placeholder="Buscar..." value="<%= params[:q] %>">
        <i class="input-icon">
          <ion-icon name="search-outline"></ion-icon>
        </i>
      </div>
    </div>
  </form>
</div>
<!-- * Extra Header -->


<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">

  <div class="section full mt-3">
      <div class="section">
        <h4 class="subtitle font-14">
          <a href="#" class="dropdown-toggle text-primary" data-bs-toggle="dropdown">
            <%= params[:status].present? ? "Pagamentos - #{params[:status]}" : "Mostrar por status" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right font-14">
            <a href="<%= pedidos_path %>" class="dropdown-item">
              Todos
            </a>
            <a href="<%= pedidos_path status: 'PAID' %>" class="dropdown-item">
              Pago
            </a>
            <a href="<%= pedidos_path status: 'NOT_PAID' %>" class="dropdown-item">
              Não pago
            </a>
            <a href="<%= pedidos_path status: 'WAITING' %>" class="dropdown-item">
              Aguardando pagamento
            </a>
            <a href="<%= pedidos_path status: 'REVERTED' %>" class="dropdown-item">
              Revertido
            </a>
          </div>
        </h4>
      </div>
    </div>

  <div class="section full mt-2">
    <div class="section-title">
      <%= @totais[:count] %> pagamentos totalizando R$ <%= from_cents @totais[:amount] %>
    </div>
  </div>
  <ul class="listview link-listview">
    <% @pedidos.each do |pedido| %>
      <% personal = Personal.find_by_email pedido[:customer][:email] %>
      <% color_pagador = personal && personal.active? ? "success" : "danger" %>
      <% color_pedido = pedido[:status] == "NOT_PAID" ? "danger" : "success" %>
      <% color_inativar = personal && personal.active? && pedido[:status] == "NOT_PAID" ? "danger" : "secondary" %>
      <li>
        <a href="<%= pedido_path(pedido[:id]) %>">
          <span class="text-<%= color_inativar %>">
            <%= pedido[:customer][:fullname].titleize %>
            <span class="text-<%= color_pagador %> font-20 wieght-700 me-05">&bullet;</span>
          </span>
          <span class="font-11 text-<%= color_pedido %>"><%= pedido[:status] %></span>
        </a>
      </li>
    <% end %>
  </ul>

</div>
<!-- * App Capsule -->


<!-- App Bottom Menu -->
<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item">
    <div class="col">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <strong>Resumo</strong>
    </div>
  </a>
  <a href="<%= faturamento_path %>" class="item">
    <div class="col">
      <ion-icon name="calendar-outline"></ion-icon>
      <strong>Hoje</strong>
    </div>
  </a>
  <a href="<%= operacao_path %>" class="item active">
    <div class="col">
      <ion-icon name="game-controller-outline"></ion-icon>
      <strong>Operação</strong>
    </div>
  </a>
  <a href="<%= relatorios_path %>" class="item">
    <div class="col">
      <ion-icon name="bulb-outline"></ion-icon>
      <strong>Relatórios</strong>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->
