<%
  @header_title = "Cancelamento"
  @bottom_menu_active = "operacao"
%>

<% assinou_denovo = @assinatura.present? ? (@assinatura.created_at > @cancelamento.created_at) : false %>
<% assinatura_expirada = @expiracao.present? ? (@expiracao <= Date.today) : false %>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">
  <div class="section full mt-2">
    <div class="listview-title">Solicitado em <%= date_to_str @cancelamento.created_at %></div>
    <ul class="listview link-listview">
      <li>
        <a href="https://www.treinar.me/malandro/personals/<%= @personal.id %>" target="_blank">
          <span class="text-secondary">Cliente</span>
          <span class="text-dark">
            <%= @personal.name %>
            <% color = @personal.active? ? "success" : "danger" %>
            <span class="text-<%= color %> font-25 wieght-700 me-05">&bullet;</span>
          </span>
        </a>
      </li>
      <% if @assinatura.present? %>
      <li>
        <a href="https://conta.wirecard.com.br/subscriptions/<%= @assinatura.code %>" target="_blank">
          <span class="text-secondary">Assinatura</span>
          <span class="text-dark"><%= @assinatura.code %></span>
        </a>
      </li>
      <% end %>
      <% if @expiracao.present? %>
      <li>
        <a>
          <span class="text-secondary">Expira em</span>
          <% color = assinatura_expirada ? "danger" : "success" %>
          <span class="text-<%= color %>">
            <%= date_to_str(@expiracao, "%d/%m/%Y") %>
            <% if !assinatura_expirada %>
            (<%= (@expiracao - Date.today).to_i %> dias)
            <% end %>
          </span>
        </a>
      </li>
      <% end %>
      <% if assinou_denovo %>
      <li>
        <a>
          <span class="text-secondary">Observação</span>
          <span class="text-dark">Cliente reativou assinatura</span>
        </a>
      </li>
      <% elsif assinatura_expirada && @personal.active? %>
      <li>
        <a href="https://www.treinar.me/malandro/personals/<%= @personal.id %>/edit" target="_blank">
          <span class="text-secondary">Ações</span>
          <span class="text-danger">Inativar cliente</span>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- * App Capsule -->