<%
  @header_title = "Cancelamentos"
  @bottom_menu_active = "operacao"
%>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">

  <div class="section mt-4">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Por mês</h5> -->
        <%= column_chart cancelamentos_per_month_path, width: "100%", height: "150px" %>
      </div>
    </div>
  </div>

  <div class="section full mt-4">
    <div class="listview-title">Últimos <%= params[:limit] || 50 %> cancelamentos</div>
  </div>
  <ul class="listview link-listview">
    <% @cancelamentos.each do |cancelamento| %>
      <% color = cancelamento.personal.active? ? "success" : "danger" %>
      <li>
        <a href="<%= cancelamento_path(cancelamento.id) %>">
          <span class="text-secondary">
            <%= cancelamento.personal.name %>
            <span class="text-<%= color %> font-25 wieght-700 me-05">&bullet;</span>
          </span>
          <span class="text-muted"><%= date_to_str(cancelamento.created_at, "%d/%m/%Y") %></span>
        </a>
      </li>
    <% end %>
  </ul>

</div>
<!-- * App Capsule -->