<% @header_title = "Cancelamentos" %>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">

  <div class="section mt-4">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Por mês</h5> -->
        <%= column_chart cancelamentos_per_month_path, title: "Últimos 6 meses", width: "100%", height: "200px" %>
      </div>
    </div>
  </div>

  <div class="section full mt-4">
    <div class="section-title">Últimos 15 cancelamentos</div>
  </div>
  <ul class="listview link-listview">
    <% @cancelamentos.each do |cancelamento| %>
      <% color = cancelamento.personal.active? ? "success" : "danger" %>
      <li>
        <a href="<%= cancelamento_path(cancelamento.id) %>">
          <span class="text-secondary">
            <%= cancelamento.personal.name %>
            <span class="text-<%= color %> font-25 wieght-700 me-05">&bullet;</span>
          </span>
          <span class="text-muted"><%= date_to_str(cancelamento.created_at, "%d/%m/%Y") %></span>
        </a>
      </li>
    <% end %>
  </ul>

</div>
<!-- * App Capsule -->


<!-- App Bottom Menu -->
<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item">
    <div class="col">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <strong>Resumo</strong>
    </div>
  </a>
  <a href="<%= faturamento_path %>" class="item">
    <div class="col">
      <ion-icon name="calendar-outline"></ion-icon>
      <strong>Hoje</strong>
    </div>
  </a>
  <a href="<%= operacao_path %>" class="item active">
    <div class="col">
      <ion-icon name="hammer-outline"></ion-icon>
      <strong>Operação</strong>
    </div>
  </a>
  <a href="<%= relatorios_path %>" class="item">
    <div class="col">
      <ion-icon name="bulb-outline"></ion-icon>
      <strong>Relatórios</strong>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->
