<%
  @header_title = "Personal trainers"
  @bottom_menu_active = "operacao"
%>

<!-- Extra Header -->
<div class="extraHeader not-fixed">
  <form class="search-form" action="<%= personals_path %>" method="get">
    <div class="form-group searchbox">
        <input type="text" id="q" name="q" class="form-control search rounded" placeholder="Buscar..." value="<%= params[:q] %>">
        <i class="input-icon">
          <ion-icon name="search-outline"></ion-icon>
        </i>
      </div>
    </div>
  </form>
</div>
<!-- * Extra Header -->


<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mt-2 mb-2">

  <div class="section full mt-2">
    <div class="listview-title text-primary">
      <a href="<%= personals_path %>">Total (<%= @totais[:total] %>)</a>
      <a href="<%= personals_path status: 'active' %>">Ativos (<%= @totais[:ativos] %>)</a>
    </div>
  </div>
  <ul class="listview link-listview">
    <% @personals.each do |personal| %>
      <% color_status = personal.active? ? "success" : (personal.trial? ? "gray" : "primary") %>
      <li>
        <a href="https://www.treinar.me/malandro/personals/<%= personal.id %>" target="_blank">
          <span class="text-dark">
            <span class="text-<%= color_status %> font-20 wieght-700">&bullet;</span>
            <%= personal.name %>
          </span>
          <div class="text-gray font-11">
            <span class="text-gray"><%= personal.leads.count %></span> -
            <span class="text-success"><%= personal.leads.won.count %></span> -
            <span class="text-warning"><%= personal.avaliacoes.count %></span>
          </div>
        </a>
      </li>
    <% end %>
  </ul>

</div>
<!-- * App Capsule -->