<% @header_title = "Assinaturas" %>

<!-- App Capsule -->
<div id="appCapsule" class="not-fixed mb-2">

  <div class="section full mt-2">
    <div class="listview-title">
      Últimas 50 assinaturas
    </div>
  </div>
  <ul class="listview link-listview">
    <% @assinaturas.each do |assinatura| %>
      <li>
        <a href="<%= assinatura_path assinatura[:code] %>">
          <% color = assinatura[:status] = "ACTIVE" ? "success" : "danger" %>
          <span class="text-dark">
            <%= assinatura[:customer][:fullname].titleize %>
            <span class="text-<%= color %> font-20 wieght-700 me-05">&bullet;</span>
          </span>
          <span class="text-muted"><%= date_from_moip_assinaturas assinatura[:creation_date] %></span>
        </a>
      </li>
    <% end %>
  </ul>

</div>
<!-- * App Capsule -->


<!-- App Bottom Menu -->
<div class="appBottomMenu">
  <a href="<%= root_path %>" class="item">
    <div class="col">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <strong>Resumo</strong>
    </div>
  </a>
  <a href="<%= faturamento_path %>" class="item">
    <div class="col">
      <ion-icon name="calendar-outline"></ion-icon>
      <strong>Hoje</strong>
    </div>
  </a>
  <a href="<%= operacao_path %>" class="item active">
    <div class="col">
      <ion-icon name="hammer-outline"></ion-icon>
      <strong>Operação</strong>
    </div>
  </a>
  <a href="<%= relatorios_path %>" class="item">
    <div class="col">
      <ion-icon name="bulb-outline"></ion-icon>
      <strong>Relatórios</strong>
    </div>
  </a>
</div>
<!-- * App Bottom Menu -->
