<!doctype html>
<html lang="pt-br">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title><%= @title || "Backoffice Treinar.me" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32"> -->
    <!-- <link rel="manifest" href="__manifest.json"> -->
  </head>

  <body>

    <!-- App Header -->
    <div class="appHeader not-fixed bg-primary text-light">
      <div class="left">
        <% unless @header_hide_voltar %>
        <a href="#" class="headerButton goBack">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
        <% end %>
        <div class="pageTitle">
        <span class="font-18 weight-600"><%= @header_title || "Backoffice" %></span>
      </div>
      </div>
      <div class="pageTitle">
      </div>
      <div class="right">
        <% unless @header_hide_opcoes %>
        <a href="#" class="headerButton" data-bs-toggle="modal" data-bs-target="#action-sheet-opcoes">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </a>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <% unless @header_hide_opcoes %>
    <!-- Action sheet opções -->
    <div class="modal fade action-sheet" id="action-sheet-opcoes" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Opções</h5>
          </div>
          <div class="modal-body">
            <ul class="action-button-list">
              <li>
                <a href="/sair" class="btn btn-list text-danger">
                  <span>
                    <ion-icon name="log-out-outline"></ion-icon>
                    Sair
                  </span>
                </a>
              </li>
              <li class="action-divider"></li>
              <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                  <span>
                    <ion-icon name="close-outline"></ion-icon>
                    Fechar
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>

    <%= javascript_pack_tag 'base.js' %>
  </body>


</html>